<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ConnectionTest</servlet-name>
        <servlet-class>Testing.ConnectionTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetail</servlet-name>
        <servlet-class>Servlets.ProductDetail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectionTest</servlet-name>
        <url-pattern>/ConnectionTest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>Servlets.ProductListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/Productlist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>Testing.Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <servlet-class>Servlets.CartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShoppingCartServlet</servlet-name>
        <url-pattern>/Cart/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>Servlets.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckoutPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/Checkout.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutPage</servlet-name>
        <url-pattern>/Checkout/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TotalPricePage</servlet-name>
        <jsp-file>/WEB-INF/jsp/TotalPrice.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>TotalPricePage</servlet-name>
        <url-pattern>/TotalPrice/*</url-pattern>
    </servlet-mapping>
           
    
    
    <servlet>
        <servlet-name>LastViewedServlet</servlet-name>
        <servlet-class>Servlets.LastViewedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LastViewedServlet</servlet-name>
        <url-pattern>/ProductDetail</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
        <servlet-name>ProductDetail</servlet-name>
        <url-pattern>/ProductDetail</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>OrderDetailPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/OrderDetail.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderDetailPage</servlet-name>
        <url-pattern>/Orderdetail</url-pattern>
    </servlet-mapping>

    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>